# Soubory generované operačním systémem
.DS_Store
Thumbs.db

# Log soubory
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Adresáře a soubory editorů kódu
# Tyto by měly být v globálním .gitignore, ale pro projekt je to také v pořádku.
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorované složky specifické pro tento projekt.
# Cesty jsou relativní ke kořenovému adresáři repozitáře (kde je .git).
/Halla/_ImportDWG/
/Halla/AllInOne/
/Halla/DelkaVodicu/
/Halla/ExportPDF/
/Halla/K2ExpCSV/
/Halla/K2Insert/
/Halla/Tabulka/
/Halla/Uzly/
/Halla/VlozText/
/Halla/Vyrez/
