# Soubory generované operačním systémem
.DS_Store
Thumbs.db

# Log soubory
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Adresáře a soubory editorů kódu
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Moje vlastní ignorované soubory a složky
/_ImportDWG/
/AllInOne/
/DelkaVodicu/
/ExportPDF/
/K2ExpCSV/
/K2Insert/
/Tabulka/
/Uzly/
/VlozText/
/Vyrez/
