# Soubory generované operačním systémem
.DS_Store
Thumbs.db

# Log soubory
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Adresáře a soubory editorů kódu
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Moje vlastní ignorované soubory a složky
Halla/_ImportDWG/
Halla/AllInOne/
Halla/DelkaVodicu/
Halla/ExportPDF/
Halla/K2ExpCSV/
Halla/K2Insert/
Halla/Tabulka/
Halla/Uzly/
Halla/VlozText/
Halla/Vyrez/
